<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head')%>
  <body>
    <%- include('layouts/navigation')%>
    <main>
      <h1 class="color-red">Some Error Occurred!</h1>
      <p>We're working on fixing this issue, sorry for the inconvenience.</p>
    </main>
    <%- include('layouts/footer')%>
  </body>
</html>
